[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "*"
tqdm = "*"
parsimonious = "*"
matplotlib = "*"
numba = "*"
scipy = "*"
python-constraint = "*"
z3-solver = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
